@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
}

@layer components {
  .wh-full--class {
    @apply w-full h-full;
  }
  .icon--class {
    @apply w-6 h-6;
  }
  .icon__navbar--class {
    @apply w-12 h-12;
  }
  .cart--class {
    @apply absolute space-y-1 text-lg font-bold;
  }
  .cart__text--class {
    @apply py-1 px-2 bg-[rgba(255,255,255,0.8)];
  }
  .shadow-navbar--class {
    @apply shadow-[0px_-5px_20px_-5px_rgba(143,205,152,0.7),0px_5px_20px_-5px_rgba(143,205,152,0.7)];
  }
  .cart-container__lazy--class {
    @apply relative rounded-3xl bg-slate-400/40 animate-pulse;
  }
  .cart__lazy--class {
    @apply h-2 absolute rounded bg-slate-500;
  }
}

.indicator {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: 6px solid #c9c9c97a;
  background-color: #f8fefac0;
}
